<!doctype html>
<html ng-app="yao">
  <head>
    <script src="/components/angularjs/angular.min.js"></script>
    <script src="/components/moment/moment.js"></script>
    <script src="/components/angular-moment/angular-moment.js"></script>
    <script src="/components/moment/locale/sv.js"></script>
    <script src="/components/moment-timezone/moment-timezone.js"></script>
    <script>
    angular.module('yao', ['angularMoment']);
    angular.module('yao').constant('angularMomentConfig', {
      timezone: 'CET'
    });
    angular.module('yao').run(function(amMoment) {
      amMoment.changeLocale('sv');
    });
    </script>
    <script src="/js/menu-ctrl.js"></script>
    <script src="/js/collection-ctrl.js"></script>
    <script src="/js/item-ctrl.js"></script>
    <link href="/css/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <!-- Menu -->
    <div ng-controller="MenuCtrl" ng-include src="'/tmpl/menu.html'"></div>

    <!-- Collections -->
    <div ng-controller="CollectionCtrl" class="collection-wrapper" ng-init="list()" ng-include src="'/tmpl/collection/wrapper.html'"></div>

    <!-- Items -->
    <div ng-controller="ItemCtrl" class="item-wrapper" ng-include src="'/tmpl/item/wrapper.html'"></div>

  </body>
</html>